<h1>{{title}}</h1>

<section>
    <button id="tutorial_btn" (click)="tutorial()">How to play</button>
    <button id="deal_btn" (click)="dealCards()">Deal cards</button>
    <button id="settle_btn" (click)="settle()" disabled>Settle</button>

    <button id="hit_btn" (click)="hit()" disabled>Hit</button>
    <button id="stand_btn" (click)="stand()" disabled>Stand</button>
    <button id="newGame_btn" (click)="nextRound()" disabled>Next round</button>

    <div class="container">
        <div class="one">
            <div class="dealer score">Dealer: {{dealerWin}}</div>
            <div id="actions" class="messages">
                <history *ngFor='let h of gameHistory' [history]="h"></history>
            </div>
            <div class="player score">You: {{playerWin}}</div>
        </div>
        
        <div class="two">
            <div class="dealer">
                <card *ngFor='let card of dealer.hand' [card]="card"></card>
            </div>
            <div class="player">
                <card *ngFor='let card of player.hand' [card]="card"></card>
            </div>
        </div>
    </div>
</section>

<section>
    <p><strong>NOTE:</strong>{{note}}</p>
<section>


<p><small>&copy; 2017 kly-a@github.com | Built with Angular 2 &hearts;</small></p>

